@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: 110vh;
  color: azure;
  width: 100%;
  background-image: url("Images/main-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 2rem 2rem 2rem rgba(0, 0, 0, 0.306);
}

.container2 {
  background-image: url("Images/Image.png");
}

header {
  position: fixed;
  z-index: 999;
  padding: 0 9rem;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: linear-gradient(
    90deg,
    rgba(32, 20, 34, 0.08) 28.32%,
    rgba(39, 21, 45, 0.431) 95.98%
  );
  backdrop-filter: blur(25px);
}

nav {
  display: flex;
  gap: 5rem;
}

nav li {
  list-style: none;
  cursor: pointer;
}

.hero-sec {
  display: flex;
  width: 100%;
  height: 100vh;
}

.text-content {
  width: 50%;
  padding: 5rem 15rem 0 9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}

.update-box {
  width: 50%;
  height: 100vh;
  display: flex;
  padding: 4rem 9rem 0 0;
  justify-content: end;
  align-items: center;
}

.update-glass {
  display: flex;
  padding: 2rem 0 1rem;
  flex-direction: column;
  height: 720px;
  width: 424px;
  border-top: 0.5px solid rgba(254, 186, 255, 0.623);
  /* border-top: 1px solid rgba(254, 186, 255, 0.623); */

  border-bottom: 2px solid rgba(254, 186, 255, 0.623);
  border-radius: 20px;
  border: 1px solid var(rgba(254, 186, 255, 0.623), #fff);
  background: linear-gradient(
    142deg,
    rgba(27, 51, 81, 0.288) 19.63%,
    rgba(120, 73, 116, 0.245) 83.01%
  );
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
}

.upd-icon {
  width: 60px;
}

.glass-head {
  margin: 1rem 0 2rem 5.5rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 12px 0;
  margin: 10px 1.5rem 0 0;
  border-radius: 0 1rem 1rem 0;
  border-top: 1px solid rgb(137, 139, 199);
  background: linear-gradient(
    90deg,
    rgba(17, 16, 24, 0) 0.28%,
    rgba(17, 16, 24, 0.51) 129.42%
  );
  background-blend-mode: overlay;
  filter: drop-shadow(0px 14px 20px rgba(98, 112, 163, 0.8));
}

.item-text h3 {
  color: #7d87ec;
  font-family: Inter;
  font-size: 17px;
  margin-bottom: 8px;
}

.item-text span {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 13px;
}

.btn,
.s-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 12rem;
  height: 3rem;
  border: 0.5px solid rgb(78, 76, 99);
  border-top: 0.5px solid rgba(254, 186, 255, 0.623);
  font-size: medium;
  color: azure;
  z-index: 9;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 48.05%,
      rgba(0, 0, 0, 0.2) 48.9%
    ),
    linear-gradient(
      180deg,
      rgba(49, 58, 91, 0) -19.57%,
      #313a5b 98.8%,
      rgba(49, 58, 91, 0.222222) 130.43%
    );
  filter: drop-shadow(0px 14px 20px rgba(42, 51, 83, 0.8));
  border-radius: 10px;
  box-shadow: 0px 14px 20px 0px rgba(49, 33, 49, 0.86);
  /* transition: 0.3s ease-in; */
}

.btn:hover {
  box-shadow: 0px 14px 20px 0px rgba(107, 107, 187, 0.86);
}

.s-btn,
.g-btn {
  width: 8rem;
  height: 2.3rem;
  border: 0.5px solid rgb(181, 137, 183);
  border-top: 0.5px solid rgba(254, 186, 255, 0.623);
  font-size: medium;
  color: azure;
  z-index: 9;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 48.05%,
      rgba(0, 0, 0, 0.2) 48.9%
    ),
    linear-gradient(
      180deg,
      rgba(90, 49, 91, 0) -19.57%,
      #954ca3 98.8%,
      rgba(49, 58, 91, 0.222222) 130.43%
    );
  /* filter: drop-shadow(5px 10px 15px rgba(177, 91, 183, 0.8)); */
  border-radius: 10px;
  cursor: pointer;
}

.s-btn:hover,
.g-btn:hover {
  box-shadow: 0px 14px 20px 0px rgba(156, 77, 156, 0.86);
}

.auto-btn {
  margin: 2rem auto 1.5rem auto;
}

/* .card-section */

.card-glass {
  display: flex;
  width: 100%;
  height: 70vh;
  padding: 0 9rem;
  margin-top: -6rem;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  border-top: 1px solid rgba(254, 186, 255, 0.623);
  border-radius: 20px;
  border: 1px solid var(rgba(254, 186, 255, 0.623), #fff);
  background: var(
    rgba(35, 19, 59, 0.623),
    linear-gradient(
      142deg,
      rgba(27, 51, 81, 0.3) 19.63%,
      rgba(155, 97, 149, 0.3) 83.01%
    )
  );
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
}

.card-section {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
  background: linear-gradient(#1b0836e4, #0b142f);
}

.box {
  overflow: hidden;
  width: 440px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-in-out;
  overflow-y: hidden;
  color: aliceblue;
  animation: floatBox 3s ease-in-out infinite;
}

.imgs {
  border-radius: 1rem 1rem 0 0;
}

.content-box {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: -9.2%;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background: linear-gradient(rgba(45, 46, 74, 0.681), rgba(56, 56, 88, 0.985));
  border-bottom: 2px solid rgb(71, 71, 104);
}

.content-box h3 {
  z-index: 10;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.content-box hr {
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(194, 117, 194, 0.748),
    rgba(206, 171, 206, 0)
  );
  border: none;
  box-shadow: 0 0 1rem rgb(255, 255, 255);
}

.content-glass {
  position: absolute;
  width: 100%;
  z-index: 3;
  margin-top: -9.2%;
  height: 500px;
  fill: linear-gradient(
    180deg,
    rgba(49, 58, 91, 0) -1.11%,
    rgba(49, 58, 91, 0.44) 23.83%,
    #313a5b 99.56%
  );
  margin: -0.5rem -2rem 0 -2rem;
  border-radius: 1rem;

  border-top: 1px solid rgba(243, 201, 253, 0.742);
}

.content-box h4 {
  color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  margin: 1rem 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}

.content-box p {
  z-index: 10;
  color: rgba(255, 255, 255, 0.6);

  font-size: small;
}

.poly-i {
  position: absolute;
  z-index: 99;
  right: 0px;
  top: -21%;
  width: 100px;
}

.btn {
  margin: 2rem auto 1.5rem auto;
  width: 12rem;
  height: 3rem;
}

.o-s {
  height: 100vh;
  background: #0e0e0e;
}

h1 {
  font-size: 72px;
}

.discription {
  font-size: 16px;
  color: rgb(170, 170, 170);
  font-size: 14px;
  letter-spacing: 0.5px;
}

.g-btn {
  margin: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.intro-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(82, 84, 134);
  /* box-shadow:  5px 5px 5px rgb(30, 30, 30); */
  border-radius: 5px;
  padding: 6px 1rem;
  background: #313a5b;
  filter: drop-shadow(0px 14px 20px rgba(42, 51, 83, 0.8));
}

.intro-logo span {
  font-size: 13px;
}

.main-heading {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-size: 80px;
}

.main-heading span {
  font-size: 75px;
}

.nav-logo {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.g-btn{
  display: inline-block;
  margin-right: 2rem;
}
.audio-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }